body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-container {
    margin: 0px 60px ;
}

.main-header-container {
    padding-top: 20px;
}

.top-header-container {
    display: flex;
    justify-content: space-between;
    
}

.top-header-middle {
    margin-left: 250px;
}

.top-header-middle a, .top-header-right a {
    text-decoration: none;
    text-transform: uppercase;
}

.top-header-container div {
    padding: 2px 15px;
}

.top-header-container div a {
    text-decoration: none;
    color: black;
}

.top-header-left a {
    padding-right: 25px;
    font-size: 18px;
}

.top-header-middle a {
    font-size: 13px;
    padding: 5px;
}

.top-header-container .top-header-right a {
    margin: 0 5px;
    padding: 5px 10px;
    color: white;
    font-size: 15px;
    background-color: #567b95;
    border-radius: 3px;
}

/* styling Centre header element */

.centre-header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(216, 215, 215);
    margin-top: 20px;
    padding-bottom: 10px;
}

.centre-header-container div {
    margin: auto 0px;
}

.centre-header-left span a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

.centre-header-left h4 {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

.centre-header-middle img {
    height: 85px;
    width: 600px;
}

.centre-header-right .sun {
    color: rgb(243, 185, 77);
}

.centre-header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.centre-header-right div span.loss {
    color: darkred;
}

.centre-header-right span{
    width: 100%;
}


/* Bottom Header Styling */

.bottom-header-container {
    border-bottom: double;
}

.bottom-header-nav-links {
    width: 90%;
    margin: 10px auto;
}

.bottom-header-nav-links a {
    color: black;
    text-decoration: none;
    padding: 0 7px;
    font-size: 13px;
}

/* Page Content Styling */

.section-wrapper div.clearfix {
    clear: both;
}

.section-wrapper {
    margin-top: 20px;
}

/* News section - Left */

.news-grid-left-section {
    float: left;
    width: 700px;
}

.news-grid-left {
    padding: 0 5px;
    width: 98%;
    display: grid;
    gap: 5px 10px;
    grid-template-areas: "newsone newstwo"
    "newsthree newstwo";
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid gray;
}

.news-grid-left .news {
    width: 100%;
}

.news-grid-left  .newsone {
    grid-area: newsone;
    border-bottom: 1px solid rgb(188, 187, 187);
    
}

.news-grid-left  .newsone h4 {
    margin: 0;
}

.news-grid-left .newsone h4 a{
    text-decoration: none;
    color: black;
}


.news-grid-left .newsone p a{
    text-decoration: none;
    color: rgb(45, 44, 44);
}

.news-grid-left .newsone p span{
    text-decoration: none;
    color: rgb(172, 170, 170);
    font-size: 12px;
}

.news-grid-left .newstwo {
    grid-area: newstwo;
}

.news-grid-left .newstwo img {
    width:  450px ;
    height: 350px;
    padding-bottom: 10px;
}

.news-grid-left .newstwo span {
    font-size: 10px;
    margin-left: 205px;
}

.news-grid-left .newstwo span a{
    font-size: 10px;
    text-decoration: none;
    color: rgb(154, 153, 153);
}

.news-grid-left .newsthree {
    grid-area: newsthree;
    
}

.news-grid-left .newsthree h4 {
    margin: 0;
}

.news-grid-left .newsthree h4 a{
    text-decoration: none;
    color: black;
}

.news-grid-left .newsthree p span{
    text-decoration: none;
    color: rgb(172, 170, 170);
    font-size: 12px;
}

.news-grid-left-two {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "lefttwonewsone lefttwonewsone"
    "lefttwonewsthree lefttwonewstwo"
    "lefttwonewsfour lefttwonewstwo"
    "lefttwonewsfive lefttwonewsfive";
    margin-top: 10px;
}

.news-grid-left-two .newsone {
    grid-area:lefttwonewsone ;
    padding-bottom: 20px;
}

.news-grid-left-two .newsone a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding-right: 5px;
}


.news-grid-left-two .newsone a.active {
    font-weight: bold;
}

.news-grid-left-two .newstwo {
    grid-area:lefttwonewstwo ;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid rgb(217, 215, 215);
}


.news-grid-left-two .newstwo img {
    width:  450px ;
    height: 400px;
}

.news-grid-left-two .newstwo p {
    font-size: 12px;
    color: rgb(139, 138, 138);
}

.news-grid-left-two .newsthree {
    grid-area:lefttwonewsthree ;
    border-bottom: 1px solid rgb(217, 215, 215);
}

.news-grid-left-two .newsthree h3 {
    margin: 0;
}

.news-grid-left-two .newsthree h3 a{
    text-decoration: none;
    color: black;
}

.news-grid-left-two .newsthree p a{
    text-decoration: none;
    color: rgb(45, 44, 44);
}

.news-grid-left-two .newsthree p span{
    text-decoration: none;
    color: rgb(172, 170, 170);
    font-size: 12px;
}

.news-grid-left-two .newsfour {
    grid-area:lefttwonewsfour ;
    border-bottom: 1px solid rgb(217, 215, 215);
}

.news-grid-left-two .newsfour h3 {
    margin: 0;
}

.news-grid-left-two .newsfour h3 a{
    text-decoration: none;
    color: black;
}

.news-grid-left-two .newsfour p a{
    text-decoration: none;
    color: rgb(45, 44, 44);
}

.news-grid-left-two .newsfour p span{
    text-decoration: none;
    color: rgb(172, 170, 170);
    font-size: 12px;
}

.news-grid-left-two .newsfive {
    grid-area:lefttwonewsfive ;
}

.news-grid-left-two .newsfive p {
    color: rgb(45, 44, 44);
}

.news-grid-left-two .newsfive p a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}



/* news section Right */


.news-grid-right-section {
    float: right;
    width: 450px;
    height: 500px;
    border-left: 1px solid rgb(187, 186, 186);
}

.news-grid-right {
    display: grid;
    grid-template-areas: "rightnewsone"
    "rightnewstwo";
    grid-template-columns: 1fr;
    padding-left: 20px;
}

.news-grid-right .newsone{
    grid-area: rightnewsone;
}

.news-grid-right .newsone span {
    font-size: 10px;
    margin-left: 270px;
}

.news-grid-right .newsone span a{
    font-size: 10px;
    text-decoration: none;
    color: rgb(154, 153, 153);
}

.news-grid-right .newsone p a{
    text-decoration: none;
    color: rgb(45, 44, 44);
}

.news-grid-right .newsone img {
    width: 430px;
    height: 250px;
    padding-bottom: 8px;
}

.news-grid-right .newstwo p span{
    text-decoration: none;
    color: rgb(172, 170, 170);
    font-size: 12px;
}

.news-grid-right .newstwo{
    grid-area: rightnewstwo;
    border-bottom: 1px solid rgb(187, 186, 186);
}

.news-grid-right .newstwo p a{
    text-decoration: none;
    color: rgb(45, 44, 44);
}

.news-grid-right  .newstwo h3 {
    margin: 0;
}

.news-grid-right .newstwo h3 a{
    text-decoration: none;
    color: black;
}


.news-grid-right-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid gray;
}

.news-grid-right-two .news img {
    width: 195px;
}

.news-grid-right-two .newstwo {
    width: 195px;
    padding-left: 18px;
    border-left: 1px solid rgb(187, 186, 186);
}
.news-grid-right-two .news h4 {
    margin: 5px 0px;
}

.news-grid-right-two .news h4 a{
    text-decoration: none;
    color: black;
}

.news-grid-right-two .news p span{
    text-decoration: none;
    color: rgb(172, 170, 170);
    font-size: 12px;
}



.news-grid-right-three {
    margin: 15px 0px;
}

.news-grid-right-three h4 {
    margin: 3px 0px;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
}

.news-grid-right-three h4 a{
    text-decoration: none;
    color: black;
}

.news-grid-right-three p {
    text-transform: uppercase;
    color: rgb(108, 107, 107);
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.news-grid-right-three .author-article {
    padding: 8px 0;
    display: flex;
}

.news-grid-right-three .author-article h3{
    margin: 0;
    padding: 0;
}


.news-grid-right-three .author-article h3 a{
    text-decoration: none;
    color: black;
}

.news-grid-right-three .author-article img{
    width: 40px;
    height: 40px;
}

.news-grid-right-three p span{
    text-decoration: none;
    color: rgb(172, 170, 170);
    font-size: 12px;
}











/* Footer Styling */

.clearfix {
    clear: both;
}

.bold {
    font-weight: bold;
}



.footer-main-container {
    margin-top: 10px;
    /* background-color: aqua; */
    border-top: 3px double rgb(207, 206, 206);
    height: 550px;
}

.footer-nytimes-logo img {
    margin-top: 15px;
    height: 25px;
}

.footer-links-parent-container {
    width: 100%;
    margin-bottom: 20px;
}

/* Footer Styling - left links */

.footer-left-links {
    display: flex;
    justify-content: space-between;
    width: 850px;
}

.footer-left-links {
    float: left;
    
}

.footer-left-links div h4{
    margin-bottom: 10px;
}

.footer-left-links div p a{
    color: black;
    text-decoration: none;
}

.footer-left-links div p {
    margin: 0;
    padding: 4px 0;
    font-size: 14px;
}

/* Footer Styling - right links */

.footer-right-links {
    float: right;
    width: 245px;
    padding: 15px 15px;
    padding-top: 0;
    border-left: 1px solid rgb(197, 196, 196);
    margin-right: 10px ;
}

.footer-right-links .subscribe-links p img {
    height: 20px;
}

.footer-right-links .subscribe-links p a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.footer-right-links .subscribe-links .small-font a{
    font-size: 11px;
}

.footer-right-links .subscribe-links p {
    margin: 10px;
}

.right-links-border-bottom {
    border-bottom: 1px solid rgb(208, 206, 206);
    padding-bottom: 10px;
    margin-bottom: 12px;
}

/* Footer Styling - bottom links */

.footer-bottom-links-container {
    margin: 10px 0 50px 0;
    border-top: 1px solid rgb(208, 207, 207);

}

.footer-bottom-links-container .bottom-links-container {
    margin-top: 10px;
}

.footer-bottom-links-container a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
    padding: 8px 5px;
}

