body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-container {
    margin: 0px 60px ;
}

.main-header-container {
    padding-top: 20px;
}

.top-header-container {
    display: flex;
    justify-content: space-between;
    
}

.top-header-middle {
    margin-left: 250px;
}

.top-header-middle a, .top-header-right a {
    text-decoration: none;
    text-transform: uppercase;
}

.top-header-container div {
    padding: 2px 15px;
}

.top-header-container div a {
    text-decoration: none;
    color: black;
}

.top-header-left a {
    padding-right: 25px;
    font-size: 18px;
}

.top-header-middle a {
    font-size: 13px;
    padding: 5px;
}

.top-header-container .top-header-right a {
    margin: 0 5px;
    padding: 5px 10px;
    color: white;
    font-size: 15px;
    background-color: #567b95;
    border-radius: 3px;
}

/* styling Centre header element */

.centre-header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(216, 215, 215);
    margin-top: 20px;
    padding-bottom: 10px;
}

.centre-header-container div {
    margin: auto 0px;
}

.centre-header-left span a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

.centre-header-left h4 {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

.centre-header-middle img {
    height: 85px;
    width: 600px;
}

.centre-header-right .sun {
    color: rgb(243, 185, 77);
}

.centre-header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.centre-header-right div span.loss {
    color: darkred;
}

.centre-header-right span{
    width: 100%;
}


/* Bottom Header Styling */

.bottom-header-container {
    border-bottom: double;
}

.bottom-header-nav-links {
    width: 90%;
    margin: 10px auto;
}

.bottom-header-nav-links a {
    color: black;
    text-decoration: none;
    padding: 0 7px;
}



/* Footer Styling */



.clearfix {
    clear: both;
}

.bold {
    font-weight: bold;
}



.footer-main-container {
    margin-top: 10px;
    /* background-color: aqua; */
    border-top: 3px double rgb(207, 206, 206);
    height: 550px;
}

.footer-nytimes-logo img {
    margin-top: 15px;
    height: 25px;
}

.footer-links-parent-container {
    width: 100%;
    margin-bottom: 20px;
}

/* Footer Styling - left links */

.footer-left-links {
    display: flex;
    justify-content: space-between;
    width: 850px;
}

.footer-left-links {
    float: left;
    
}

.footer-left-links div h4{
    margin-bottom: 10px;
}

.footer-left-links div p a{
    color: black;
    text-decoration: none;
}

.footer-left-links div p {
    margin: 0;
    padding: 4px 0;
    font-size: 14px;
}

/* Footer Styling - right links */

.footer-right-links {
    float: right;
    width: 245px;
    padding: 15px 15px;
    padding-top: 0;
    border-left: 1px solid rgb(197, 196, 196);
    margin-right: 10px ;
}

.footer-right-links .subscribe-links p img {
    height: 20px;
}

.footer-right-links .subscribe-links p a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.footer-right-links .subscribe-links .small-font a{
    font-size: 11px;
}

.footer-right-links .subscribe-links p {
    margin: 10px;
}

.right-links-border-bottom {
    border-bottom: 1px solid rgb(208, 206, 206);
    padding-bottom: 10px;
    margin-bottom: 12px;
}

/* Footer Styling - bottom links */

.footer-bottom-links-container {
    margin: 10px 0 50px 0;
    border-top: 1px solid rgb(208, 207, 207);

}

.footer-bottom-links-container .bottom-links-container {
    margin-top: 10px;
}

.footer-bottom-links-container a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
    padding: 8px 5px;
}

